html,
body {
  min-height: 100%;
}

.main {
  background-color: #f4f4f4;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h100x {
  height: 100%;
}

.p10 {
  padding: 10px;
}

.px10 {
  padding: 0 10px;
}

.mb4 {
  margin-bottom: 4px;
}

.transparent {
  color: transparent !important;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}
