html,
body {
  min-height: 100%;
  background-color: #f4f4f4;
}

.bold {
  font-weight: 700 !important;
}

.blue {
  color: #50bdff !important;
}

.orange {
  color: #f9a500 !important;
}

.red {
  color: #ff611d !important;
}

.show {
  opacity: 1 !important;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.h100x {
  height: 100%;
}

.p10 {
  padding: 10px;
}

.px10 {
  padding: 0 10px;
}

.mb4 {
  margin-bottom: 4px;
}

.transparent {
  color: transparent !important;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}
