.menu {
  background: #fff;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.menu .scroll {
  overflow-x: scroll;
}

.menu .scroll::-webkit-scrollbar {
  display: none;
}

.menu .container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px 20px;
  width: calc(32px + 72px * 9 - 12px);
}

.menu .container .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  margin-bottom: 12px;
}

.menu .container .item:nth-child(9n) {
  margin-right: 0;
}

.menu .container .item img {
  width: 60px;
}

.menu .container .item span {
  font-size: 12px;
  color: #666;
  margin-top: 2px;
}

.menu .bar {
  width: 50px;
  height: 3px;
  border-radius: 100px;
  background: #d4d8de;
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.menu .bar .inner {
  width: 10px;
  height: 3px;
  border-radius: 100px;
  background: #ff6d2a;
}
